{% extends '@template/base.html.twig' %}

{% block stylesheets %}{{parent()}}{% endblock %}

{% block content %}
<p>La pagina che hai richiesto non esiste!</p>
{% endblock %}

{% block footer %}{{parent()}}{% endblock %}

{% block javascripts %}{{parent()}}{% endblock %}
