{% extends '@template/base.html.twig' %}

{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block content %}

<h1> Benuvenuto in PixellTest</h1>
<p>Questa è la homepage di default.</p>
<p>Significa che nessuna pagina è stata settata come homepage.</p>


{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}

{% block javascripts %}
{{parent()}}
{% endblock %}
